<?xml version="1.0" encoding="utf-8" ?>
<sampleConfig configProtectionProvider="ec2UserDataConfigSectionProvider">

  <EncryptedData>
      <ec2UserDataProviderInfo
        defaultUserData="default"
      configLocationFormat="_ConfigurationContent\DemoConfiguration_LoadedFromEC2UserData_#USER_DATA#.config"
      />
  </EncryptedData>

  <!-- place the following at the above location. (this comment can of course be deleted)
  <settings
      sampleConfigSetting="This Setting came locally from file with name as from ec2 user-data."
    >
  </settings>-->
</sampleConfig>