<?xml version="1.0" encoding="utf-8" ?>
<sampleConfig configProtectionProvider="s3ConfigSectionProvider">

  <EncryptedData>
    <s3ProviderInfo
      s3AccessKey="REPLACE_WITH_YOUR_VALUE"
      s3SecretKey="REPLACE_WITH_YOUR_VALUE"
      s3BucketName="REPLACE_WITH_YOUR_VALUE"
      objectKey="test-s3toconfig-sampleconsoleapplication-sampleconfig"
      />
  </EncryptedData>

  <!-- place the following at the above location. (this comment can of course be deleted)
  <settings
      sampleConfigSetting="This Setting came from s3."
    >
  </settings>-->
</sampleConfig>