<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <!-- Definition of our sample configuration section -->
    <section name="sampleConfig" type="Natol.S3ToConfig.SampleConsoleApplication.Config.SampleConfigSection, Natol.S3ToConfig.SampleConsoleApplication" />
    
  </configSections>

  <sampleConfig configSource="_ConfigurationContent\DemoConfiguration_Static.config" />
  
</configuration>