<?xml version="1.0"?>
<configuration>

  <configSections>
    <!-- Definition of our sample configuration section -->
    <section name="sampleConfig" type="Natol.S3ToConfig.SampleConsoleApplication.Config.SampleConfigSection, Natol.S3ToConfig.SampleConsoleApplication"/>
  </configSections>

  <!-- defining our custom configuration provider -->
  <configProtectedData defaultProvider="s3ConfigSectionProvider">
    <providers>
        <add name="s3ConfigSectionProvider" type="Natol.S3ToConfig.ProtectedConfiguration.ProtectedConfigurationProvider, Natol.S3ToConfig.ProtectedConfiguration"/>
        <add name="ec2UserDataConfigSectionProvider" type="Natol.EC2UserDataToConfig.EC2UserDataProtectedConfigurationProvider, Natol.EC2UserDataToConfig"/>
    </providers>
  </configProtectedData>
  
  <!-- defining the location of our configuration file (only use one at a time!) -->  
    <!-- from S3: -->
  <!--<sampleConfig configSource="_ConfigurationContent\DemoConfiguration_LoadsFromS3.config" />-->

    <!-- static, from ec2 user-data string: -->
  <sampleConfig configSource="_ConfigurationContent\DemoConfiguration_LoadsFromEC2UserData.config"/>

    <!-- static -->
  <!--<sampleConfig configSource="_ConfigurationContent\DemoConfiguration_Static.config" />-->


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
