<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- Definition of our sample configuration section -->
    <section name="s3ConfigSectionProvider" type="Natol.S3ToConfig.SampleConsoleApplication.Config.SampleConfigSection, Natol.S3ToConfig.SampleConsoleApplication" />
  </configSections>

  <!-- defining our custom configuration provider -->
  <configProtectedData defaultProvider="SampleProvider">
    <providers>
      <add name="SampleProvider"
        type="Natol.S3ToConfig.ProtectedConfiguration.ProtectedConfigurationProvider, Natol.S3ToConfig.ProtectedConfiguration"
        />
    </providers>
  </configProtectedData>
  
  <!-- defining the location of our configuration file -->
  <sampleConfig configSource="_ConfigurationContent\DemoConfiguration_Static.config" />
  
</configuration>